.tp-caption.dark-light-100,
.tp-caption.dark-light-32,
.title-fs-60,
.title-fs-45 {
  color: #c47a5e;
}
.slider-1-cap-line {
  background-color: #6b3521;
  width: 150px;
}
.logo-img {
  height: 60px;
}
.fes2-text-cont {
  color: #6b3521;
}
.logo-footer {
  max-height: 159px;
}
html {
  scroll-behavior: smooth;
}
.about-us .header-wrapper {
  background-color: white;
}
.logo-footer-cont {
  margin: 50px 0;
}
#footer2 {
  border-top: 0.5px solid #eee;
}
#QUALITY .fes2-img {
  background: url("../images/HOA/174.png") 50% 50% no-repeat;
}
